$background-grey: #fafafa;
$font-grey: #525252;

$font-white: #fff;
$font-black: #000;
$random-theme-color : red;

$color-1: #16528e;
$color-2: #a2c5bf;
$color-3: #e8846b;
$color-4: #167c80;
$color-5: #e54b4b;
$color-6: #546E7A;
$color-7: #8D6E63;

.color-1{
	color: $color-1;
}
.color-2{
	color: $color-2;
}
.color-3{
	color: $color-3;
}
.color-4{
	color: $color-4;
}
.color-5{
	color: $color-5;
}
.color-6{
	color: $color-6;
}
.color-7{
	color: $color-7;
}

.background-color-1{
	background-color: $color-1;
}
.background-color-2{
	background-color: $color-2;
}
.background-color-3{
	background-color: $color-3;
}
.background-color-4{
	background-color: $color-4;
}
.background-color-5{
	background-color: $color-5;
}
.background-color-6{
	background-color: $color-6;
}
.background-color-7{
	background-color: $color-7;
}