@font-face {
    font-family: "HelveticaNeueLt";
    src: url("dist/fonts/HelveticaNeueLt.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeueMed";
    src: url("dist/fonts/HelveticaNeueMed.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeueBd";
    src: url("dist/fonts/HelveticaNeueBd.ttf") format("truetype");
}